.fullpage {
	width: $site-width;
	margin-top: 55.5px;
	.header {
		max-width: 211px;
		height: 40px;
		margin-bottom: 31.5px;
		.blog {
			max-width: 211px;
			max-height: 40px;
			font-size: 30px;
			font-family: proximanova;
			// background-color: red;
		}
		.UnderLine {
			width: 70%;
			height: 2px;
			background-color: $site-black;
		}
	}

	.conContainer {
		max-width: $site-width;
		height: 100%;
		display: flex;
		justify-content: space-between;
		// background-color: orange;
		margin: 0 auto;

		.mapAddress {
			height: 100%;
			width: 400px;
			display: flex;
			flex-direction: column;
			// background-color: green;

			.map {
				height: 442px;
				width: 400px;
				// background-color: red;
				background-image: url(../images/map.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.address {
				max-height: 161px;
				width: 253px;
				// background-color: purple;
				margin-top: 34px;
				font-size: 18px;
				inline-size: 253px;
				font-family: gill_sans_light;
			}
		}

		.formSend {
			height: 100%;
			max-width: 529px;
			// background-color: yellow;
			display: flex;
			flex-direction: column;

			.form {
				height: 442px;
				min-height: 0px;
				width: 529px;
				// background-color: gray;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.box {
					min-width: 260px;
					width: 529px;
					height: 60px;
					background-color: #f5f5f5;
					border-style: none;
				}

				.fatBox {
					min-width: 260px;
					max-width: 529px;
					min-height: 120px;
					height: 199px;
					background-color: #f5f5f5;
					border-style: none;
					text-align: start;
				}
			}

			.send {
				height: 60px;
				width: 167px;
				font-size: 16px;
				background-color: $site-blue;
				margin-top: 3%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $site-white;
				font-family: gill_sans;
			}
		}
	}
}
